body {
    background-color: rgba(178, 108, 219, 0.575) !important;
    opacity: 1;
}

Button {
    display: inline-block !important;
    align-items: center !important;
    color: rgb(95, 7, 146) !important;
}

.button {
    display: inline-block !important;
    /* background-color: red !important; */
}

Button .btn .heart {
    /* color: red !important; */
}

.button .btn-primary .cross-heart {
    color: black !important;
}

.button .btn .arrow-undo {
    color: black !important;
}

.newButton {
    /* background-color: red !important; */
    display: flex !important;
    margin-top: 10px;
}

.r-backgroundColor-14sbq61 {
    background: rgb(220, 53, 69, 0.75) !important;

}

.r-borderRadius-1jkafct {
    border-radius: 20px;
}

.r-boxShadow-1cosk8v {
    box-shadow: none;
}