.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-top: 150px;
  position: fixed;
}

@media only screen and (min-width: 320px) {
  .footer .container .row .col-sm-12 {
    display: block;
    float: none;
    width: 100%;
    display: inline;
  }
}

@media only screen and (min-width: 768px) {
  .footer .container .row .col-md-12 {
    display: block;
    float: none;
    width: 100%;
    display: inline;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
    display: inline;
  }
}
