.landingPageContainer {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lpStart {
  border-radius: 25px;
}

.getStarted {
  text-decoration: none;
  color: black;
}

.getStarted:hover {
  color: black;
}

.lpStart:hover {
  cursor: pointer;
  background-color: pink;
}
