.landingPageContainer {
  min-height: 800px;
  .lpStart {
    border-radius: 25px;
    &:hover {
      cursor: pointer;
      background-color: pink;
    }
  }
  .lpName {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: inline;
  }

  .getStarted {
    text-decoration: none;
    color: black;
    &:hover {
      color: black;
    }
  }
}
