.landingPageContainer {
  min-height: 800px;
  .lpStart {
    border-radius: 25px;
    &:hover {
      cursor: pointer;
      background-color: pink;
    }
  }
  .lpName {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: inline;
  }

  .getStarted {
    text-decoration: none;
    color: black;
    &:hover {
      color: black;
    }
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}
